<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <title>Who Ows What loot - 500 Server Error</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/jquery-1.7.2.js"></script>
    
  </head>
  <body>
    <div class="toplinks toplinkshome">
      <a href="/">Home</a>
      <a href="/about/">About</a>
    </div>
    
<div class="firstpagemaincontent"> 
  <h1 class="firstpage"><img src="/static/images/evenicon.png" alt="icon" class="logo"/>WhoOwsWhat Loot</h1>
  <hr class="header"/>
    
  <h2 class="firstpage">500</h2>
  <div class="firstpagetext centered">
    Oops, the server beasts seem to have caused somewhat of an error in the system. A beast hunter has been notified and will hopefully catch the culprit until next time you visit.
  </div>
  <div class="firstpagetext centered">
    <img src="/static/images/500.png" alt="Server beasts running" />
  </div>
</div>

  </body>
</html>
