{% extends 'base.html' %}

{% block title %} - About{% endblock %}

{% block toplinks %}home{% endblock %}

{% block contentwrapperstart %}
<div class="firstpagemaincontent">
  {% endblock %}
  {% block content %}
  <div class="firstpagetext">
    Who Ows What Loot is a small web application for calculating who needs to pay what to whom, for example after a trip.
  </div>
  <div class="firstpagetext">
    It is created by Malte Lenz (<a href="http://maltelenz.com/" class="aboutlink">maltelenz.com</a>). The source code is available on <a href="https://github.com/maltelenz/wowloot/" class="aboutlink">github</a> for any non-commercial use. 
  </div>
  {% endblock %}
  {% block contentwrapperend %}
</div>
{% endblock %}
