<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <title>Who Ows What loot {% block title %}{% endblock %}</title>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ STATIC_URL}}style.css" />
    <script src="{{ STATIC_URL }}jquery-1.7.2.js"></script>
    <link rel="shortcut icon" href="http://wowloot.se/favicon.ico" />
    {% block inheader %}{% endblock %}
  </head>
  <body>
    <div class="toplinks toplinks{% block toplinks %}{% endblock %}">
      <a href="{% url home %}">Home</a>
      <a href="{% url about %}">About</a>
    </div>
    {% block contentwrapperstart %}{% endblock %}
    <h1 class="firstpage"><a href="{% url home %}"><img src="{{ STATIC_URL }}images/logo.png" alt="icon" class="logo"/>WhoOwsWhat Loot</a></h1>
    <hr class="header"/>

    {% block content %}{% endblock %}
    {% block contentwrapperend %}{% endblock %}
  </body>
</html>
