{% extends 'base.html' %}

{% block title %} - {{ calculation.name }}{% endblock %}

{% block toplinks %}calculation{% endblock %}

{% block content %}
<div class="calculationmaincontent">
  <h1 class="calculation">Who Ows What: {{ calculation.name }}</h1>
  <div class="floatingsharebutton">
    <a href="{% url calculation_share calculation.id calculation.hashtag %}">
      <img src={{ STATIC_URL }}images/share.png alt="Share"/> Share
    </a>
  </div>
  <h2>Currency</h2>
  <form action="{% url change_currency calculation.id calculation.hashtag %}" method="post">
    {% csrf_token %}
    {{ currencyform.currency }}
    <input type="submit" value="Change">
  </form>
  <h2>Expenses</h2>
  <table class="expensetable">
    <tr class="header">
      <td class="header">&nbsp;</td>
      <td class="header">Who paid?</td>
      <td class="header">Amount <span class="balancecurrency">[{{calculation.currency.name}}]</span></td>
      <td class="header">Name (optional)</td>
      {% for person in calculation.involved.all %}
      <td class="header">
	{{ person.name }}
	<a href="{% url delete_person calculation.id calculation.hashtag person.id %}"><img src="{{STATIC_URL}}images/cross.png" alt="D" /></a>
      </td>
      {% endfor %}
      <td class="headernew">
	<form action="{% url add_person calculation.id calculation.hashtag %}" method="post">
	  {% csrf_token %}
	  {{ addpersonform.name }}
	  <input type="submit" value="Add person">
	</form>
      </td>
    </tr>
    {% for expense in ordered_expenses %}
    <tr class="{% cycle 'even' 'odd' %}">
      <td class="iconcolumn">
	<a href="{% url expense_delete calculation.id calculation.hashtag expense.id %}"><img src="{{STATIC_URL}}images/cross.png" alt="D" /></a>
	<a href="{% url expense_edit calculation.id calculation.hashtag expense.id %}"><img src="{{STATIC_URL}}images/pencil.png" alt="E" /></a>
      </td>
      <td>{{ expense.person.name }}</td>
      <td>{{ expense.amount_in_calculation_currency|floatformat:2 }}
	{% if expense.currency != calculation.currency %}({{ expense.amount }} {{ expense.currency.name }})
	{% endif %}
      </td>
      <td>{{ expense.name }}</td>
      {% for person in calculation.involved.all %}
      <td>{% if person in expense.benefactors.all %}
	<a href="{% url benefactor_delete calculation.id calculation.hashtag expense.id person.id %}">
	<img src="{{STATIC_URL}}images/tick.png" alt="x" />
	</a>
	{% else %}
	<a href="{% url benefactor_add calculation.id calculation.hashtag expense.id person.id %}">
	  -
	</a>
	{% endif %}
      </td>
      {% endfor %}
    </tr>
    {% endfor %}
    {% if calculation.involved.count != 0 %}
    <form action="{{ request.get_full_path }}" method="post">
      {% csrf_token %}
      <tr class="tablenew">
	<td class="iconcolumn">
	  <img src="{{STATIC_URL}}images/{% if is_edit %}editgrey{% else %}addgrey{% endif %}.png" />
	</td>
	<td>
	  {{ form.person }}
	</td>
	<td>
	  {{ form.amount }}
	  {{ form.currency }}
	</td>
	<td>
	  {{ form.name }}
	</td>
	{% for person in calculation.involved.all %}
	<td>
	  {% if forloop.last %}
	  <input type="submit" value="Add expense">
	  {% endif %}
	</td>
	{% endfor %}
      </tr>
    </form>
    {% endif %}
    <tr class="balance">
      <td colspan="4">Balance <span class="balancecurrency">[{{calculation.currency.name}}]</span></td>
      {% for person in calculation.involved.all %}
      <td>
	{% for key, value in owing.items %}
	{% if key == person %}{{ value|floatformat:2 }}{% endif %}
	{% endfor %}
      </td>
      {% endfor %}
    </tr>
  </table>
  <h2>Solution</h2>
  {% for from_person, to_person, amount in transfers %}
  <div class="solutionrow"><span class="personname">{{ from_person }}</span> pays <span class="personname">{{ to_person }}</span> {{ amount|floatformat:2 }} {{ calculation.currency.name }}</div>
  {% endfor %}
  
</div>
{% endblock %}
