{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block inheader %}
<script>
  $(document).ready(function() {
  
  // Define what happens when the textbox comes under focus
  // Remove the watermark class and clear the box
  $("#id_name").focus(function() {
  
  $(this).filter(function() {
  
  // We only want this to apply if there's not 
  // something actually entered
  return $(this).val() == "" || $(this).val() == "Name..."
  
  }).removeClass("watermarked").val("");
  
  });
  
  // Define what happens when the textbox loses focus
  // Add the watermark class and default text
  $("#id_name").blur(function() {
  
  $(this).filter(function() {
  
  // We only want this to apply if there's not
  // something actually entered
  return $(this).val() == ""
  
  }).addClass("watermarked").val("Name...");
  
  });
  
  });
</script>
{% endblock %}

{% block toplinks %}home{% endblock %}

{% block contentwrapperstart %}
<div class="firstpagemaincontent">
  {% endblock %}
  {% block content %}
  {% if error_message %}<div>{{ error_message }}</div>{% endif %}
  <div class="firstpagetext">
    Find the easiest way to even out expenses paid, for example after a trip.
  </div>
  <div class="firstpagetext">
    Start by choosing a name for the calculation:
  </div>
  <div class="firstpageform">
    <form action="{% url 'home' %}" method="post">
      {% csrf_token %}
      {% if form.non_field_errors %}
      <div class="formerrors">{{ form.non_field_errors }}</div>
      {% endif %}
      {% if form.name.errors %}
      <div class="formerrors">{{ form.name.errors }}</div>
      {% endif %}
      <div>
        <input id="id_name" type="text" name="name" maxlength="200" class="inputfirstpage watermarked" value="Name...">
        <input type="submit" value="Start" class="firstpagesubmit"/>
      </div>
    </form>
  </div>
  {% if previous_calculations %}
  <h3>
    Previous calculations:
  </h3>
  <table class="previouscalculations">
    {% for calculation in previous_calculations %}
    <tr>
      <td>
        <a href="{% url 'calculation' calculation.id calculation.hashtag %}">{{ calculation.name }}</a>
      </td>
      <td class="creationdate">
        (Created {{ calculation.creation_date }})
      </td>
      <td>
        <a href="{% url 'calculation_delete' calculation.id calculation.hashtag %}"><img src="{{STATIC_URL}}images/cross.png" alt="Delete" /></a>
      </td>
    </tr>
    {% endfor %}
  </table>
  {% endif %}
  {% endblock %}
  {% block contentwrapperend %}
</div>
{% endblock %}
