html {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: #6bb7f1;
    font-family: verdana;
    font-size: 13px;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    font-family: arial;
}

.centered {
    text-align: center;
}

div.firstpagemaincontent {
    width: 650px;
    padding: 50px;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: #EFEFEF;
    border: 1px solid #2e37e8;
    -moz-box-shadow: 0px 0px 5px #888;
    -webkit-box-shadow: 0px 0px 5px #888;
    box-shadow: 0px 0px 5px #888;
    font-family: verdana;
    font-size: 13px;
}

h1.firstpage {
    color: #000;
    margin: 0px;
    font-family: verdana;
}

h1.firstpage img.logo {
    padding-right: 10px;
    vertical-align: middle;
}

hr.header {
    color: #CCC;
    border-width: 0px;
    height: 1px;
    background-color: #CCC;
    
}

div.firstpagetext {
    padding: 15px 10px 10px 0px;
}

.inputfirstpage {
    border: 3px double #2e37e8;
    background-color: #b4deff;
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
    width: 300px;
}

.watermarked {
    color: #999;
}

.firstpagesubmit {
    font-size: 20px;
    padding: 7px 15px 7px 15px;
    font-weight: bold;
    font-color: #236a16;
    border: 1px solid #2e37e8;
    background-color: #DDD;
    border-radius: 2px; 
    -moz-border-radius: 2px; 
    -webkit-border-radius: 2px; 
    text-shadow: 1px 1px 0px #FFF;
    -moz-box-shadow: 0px 0px 2px #888;
    -webkit-box-shadow: 0px 0px 2px #888;
    box-shadow: 0px 0px 2px #888;
}

table.previouscalculations {
    padding: 5px;
    border-collapse: collapse;
}

table.previouscalculations tr td {
    font-size: 14px;
    font-family: verdana;
    padding: 5px 5px 5px 5px;
    border-bottom: 1px solid #9BD1FA;
    border-top: 1px solid #9BD1FA;
}

table.previouscalculations tr td a{
    color: #000;
}

table.previouscalculations tr td.creationdate {
    color: #666;
    font-size: 12px;
}

div.toplinks {
    text-align: right;
    color: #333;
    font-weight: bold;
    font-family: verdana;
    font-size: 13px;
    text-shadow: 1px 1px 2px #6bb7f1;
}

div.toplinks a {
    text-decoration: underline;
}

div.toplinkscalculation {
    margin: 50px 55px 5px 50px;
}

div.toplinkshome {
    width: 700px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

div.calculationmaincontent {
    padding: 20px;
    margin: 0px 50px 50px 50px;
    background-color: #EFEFEF;
    border: 1px solid #2e37e8;
    -moz-box-shadow: 0px 0px 5px #888;
    -webkit-box-shadow: 0px 0px 5px #888;
    box-shadow: 0px 0px 5px #888;
}

h1.calculation {
    color: #000;
    margin: 0px;
    font-family: verdana;
}

.expensetable {
    border-collapse: collapse;
    margin: 20px 5px;
}

.expensetable tr.even {
    background: #DEEBFF;
}

.expensetable tr.odd {
    background: #CCE0FF;
}

.expensetable tr td {
    border: 1px solid #777;
    padding: 7px;
    margin: 0px;
    font-size: 13px;
    font-family: verdana;
}

.expensetable tr:hover {
    background: #DDFFFF;
}

.expensetable tr td.header,
.expensetable tr.balance td {
    background: #BDBDBD;
    font-weight: bold;
}

.expensetable tr td.tabledone {
    background: #80D65E;
}

.expensetable tr td.headernew,
.expensetable tr td.tablenew {
    border: 1px dashed #777;
    border-left: 1px solid #777;
    background: #80D65E;
}

.expensetable tr td.subheader {
    background: #CDCDCD;
    font-weight: bold;
    color: #555;
}

.expensetable tr.tablenew td {
    border: 1px dashed #777;
    background: #80D65E;
}

.expensetable tr td.iconcolumn {
    text-align: center;
    letter-spacing: 10px;
}

.balancecurrency {
    color: #555;
}

.solutionrow {
    padding: 20px;
    font-family: verdana;
}

.solutionunfinished {
    color: #888;
}

.personname {
    font-weight: bold;
}

.aboutlink {
    text-decoration: underline;
    color: #555;
}

.copyurlfield {
    background: #DDD;
    border: 1px solid #444;
    padding: 5px;
    margin-top: 5px;
    font-family: verdana;
    font-size: 13px;
    width: 450px;
}

textarea.copyurlfield {
    height: 150px;
}

div.backtocalc {
    padding: 20px 10px 0px 0px;
    color: #444;
}

div.backtocalc a {
    text-decoration: underline;
}

div.stext {
    padding: 10px;
}

.floatingsharebutton {
    position: absolute;
    top: 170px;
    right: 100px;
}

[explanationLink]:link, [explanationLink]:visited
{
    text-decoration: none;
    position: relative;
    margin-left: 5px;
    width:16px;
    height:16px;
    border-radius:50%;
    display: inline-block;
    font-size:13px;
    color:#fff;
    line-height:16px;
    text-align:center;
    background:#6bb7f1;
}

[explanationLink]
{
    position: relative;
}

[explanationLink].withBubble:before
{
    content: "";
    position: absolute;
    border-bottom: 26px solid #000;
    border-left: 26px solid transparent;
    border-right: 26px solid transparent;
    bottom: -28px;
    left: -19px;
}

[explanationLink].withBubble:after
{
    position: absolute;
    content: attr(explanationLink);
    font-weight:bold;
    bottom: -40px;
    left: -26px;
    white-space: nowrap;
    background: #666;
    color: #FFFFFF;
    padding: 5px 10px;
    -moz-border-radius: 6px;
    -webkit-border-radius:6px;
    -khtml-border-radius:6px;
    border-radius: 6px;
    border: 2px solid #000;
    box-shadow: 3px 3px 5px #888;
}

form[explanationLink].withBubble:before
{
    left: 0px;
}

form[explanationLink].withBubble:after
{
    left: 0px;
}

span[explanationLink].withBubble#expenses:before
{
    bottom: -33px;
    left: 0px;
}

span[explanationLink].withBubble#expenses:after
{
    bottom: -45px;
    left: 0px;
}
